body{
    width:100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    padding: 2rem
}
flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone-screen{
    width: 375px;
    height: 812px;
    border: 2px solid grey;
    display: flex;
    flex-direction: column
}
.button-container{
    padding: 0 12px; 
    display: flex; 
    height: 75px; 
    align-items: center;
    justify-content: space-between;
}
.header-size{
font-size:20px;
}
.button-text-container{
    top:50%; 
    bottom:50%; 
    transform:translate(-50%,-50%); 
    position:absolute; 
    display: inline-table; 
    color: white; 
    font-size: large; 
    font-weight: 900; 
    background-color:#1492ED;
}

.shoe-backdrop-color{
    background-color: #ECEDF0;
}
.bold{
    font-weight: 700;
}
h3 {
    color: black;
    font-weight: 900;
    font-size: 21px;
    font-family: 'Nunito Sans', sans-serif;
}
.primary-button{
    text-align:center; 
    height:4rem; 
    position: relative; 
    background-color:#1492ED;
}
.bottom-iphone-bar{
    border: 2px solid black;
    display: inline-block;
    width: 72px;
    margin-left: -4px;
    margin-right: -5px;
}

.left-circle {
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    height: 4px;
    width: 26px;
    background: black;
    display: inline-block;
  }
.right-circle {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    height: 4px;
    width: 4px;
    background: black;
    display: inline-block;
  }

.primary-button-disabled{
    
}
.secondary-button{
    background-color:#E4F0F9
}

.header{

}
