body{
    width:100%;
    height: 100%;
    font-family: 'Noto Sans JP', sans-serif
}

.bold{
    font-weight: 700;
}
.phone-screen{
    width: 414px;
    height: 736px;
    border: 2px solid grey;
}
.index2-icon-containers {
    padding-top: 8%;
    padding-left: 2%
}
#left-arrow-icon{
    padding-right: 83%;
    width: 5%;
}

#cross-icon {
    width: 5%;
}
h3 {
    color: black;
    font: bold 150% Arial, Times, serif, Courier, monospace
}
.grey-font {
    color: rgba(59, 58, 58, 0.692); 
}
.shoe-preview-div{
    display:flow-root;
}

#shoe-preview-selection{
    float: right;
    padding-right:20%
}
#shoe-preview-image{
    float: left;
    width:50%
}
#main-shoe-image-payment{
    padding-left: 3%;
    width:120px;
    height:120px;
    display:flex
}
.checkout-header-div{
    display: flow-root
}
.checkout-header{
    padding-left:3%;
    margin-bottom:0
}
.line-divider {
    height: 1px;
    background-color: gainsboro;
    border: none;
}
#payment-information-div{
    display: flow-root
}
#shipping-button-div{
    background-color:lightblue
}
.left{
    margin-left: 5%;
    float:left;
}
.right{
    margin-right: 15%;
    float:right;
}