
.index2-icon-containers {
    padding-top: 8%;
    padding-left: 2%
}
.payment {
   padding-top: 0% ;
   padding-bottom:8%;
}
.index2-icons {
    width: 39%
}
#left-arrow-icon{
    padding-right: 75%;
    padding-left:5%;
    width: 5%;
}

#cross-icon {
    width: 5%;
}
.Pay-pal{
    padding: .5rem 13% 0% 13%;
}
.payment-option {
    border: 1px rgba(173, 173, 173, 0.739) solid;
    margin-bottom: .7rem;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#Payment-methods {
    padding-left: 3%;
    padding-right: 3%
}
.Paypal-button-style {
    background-color: white
}
.bottom-iphone-bar{
    border: 2px solid black;
    display: inline-block;
    width: 72px;
    margin-left: -4px;
    margin-right: -5px;
}

.left-circle {
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    height: 4px;
    width: 26px;
    background: black;
    display: inline-block;
  }
.right-circle {
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    height: 4px;
    width: 4px;
    background: black;
    display: inline-block;
  }
  .home-navigation-bar{
    margin-top: 107.5%;
    margin-left: 36%;
  }
